<?xml version="1.0" encoding="UTF-8"?>
<web-app...>
   <Security-role>
        <description></description>
        <role-name></role-name>
   </Security-role>
   <Security-constraint>
         <display-name>BookMarket Security</display-name>
         <web-resource-collection>
            <web-resource-name>BookMarket</web-resource-name>
            <description></description>
            <url-pattern>/addBook.jsp</url-pattern>
         </web-resource-collection>
         <auth-constraint>
            <description>권한 관리자명</description>
            <role-name>admin</role-name>
         </auth-constraint>
   </Security-constraint>
   <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
         <form-login-page>/login.jsp</form-login-page>
         <form-error-page>/login_failed.jsp</form-error-page>
      </form-login-config>
   </login-config>
</web-app...>
